$main-text-size: 2.5em;
$main-text-color: black;
$hover-link-color: rgb(12, 12, 79);
$nav-padding: 3em;

$main-height: 7em;
$search-height: 3.3em;

$icon-size: 2.4em !important;


$mobile-width: 600px;
$tablet-width: 1024px;
$header-tablet-height: 70px;

