$main-text-size: 1.9em;
$title-text-size: 1.3em;
$price-text-size: 1.7em;
$main-text-color: black;
$hover-link-color: rgb(12, 12, 79);
$nav-padding: 3em;
$filter-items-width: 22em;
$product-size-icon: 1.4em !important;

$main-height: 7em;
$search-height: 3.3em;

$icon-size: 2.4em !important;


$mobile-width: 600px;
$tablet-width: 1024px;
$header-tablet-height: 70px;

